@font-face {
  font-family: anton;
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: dancing;
  src: url(../fonts/DancingScript.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  overflow-x: hidden;
  font-family: Open Sans, Verdana, sans-serif;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
