@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-1 {
  background: #f8e179;
}

.bg-2 {
  background: #c3ee92;
}

.bg-3 {
  background: #9be2c1;
}

.bg-4 {
  background: #f7928b;
}

.bg-5 {
  background: #f79bd8;
}

@-webkit-keyframes welcomeTextAnim {
  0% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes welcomeTextAnim {
  0% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes verticalLineAnim {
  0% {
    height: 0;
  }
  100% {
    height: 60px;
  }
}

@keyframes verticalLineAnim {
  0% {
    height: 0;
  }
  100% {
    height: 60px;
  }
}

@-webkit-keyframes welcomeBrandAnim {
  0% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes welcomeBrandAnim {
  0% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scrollCircleAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes scrollCircleAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes headerEvenAnim {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  40% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerEvenAnim {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  40% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes headerOddAnim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerOddAnim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes borderAnim {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes borderAnim {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes spinAnim {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinAnim {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes navlinkAnim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes navlinkAnim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes ProjectAnim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ProjectAnim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes socialmediaAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes socialmediaAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes titleAnim {
  0% {
    top: 30px;
    opacity: 0;
  }
  80% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes titleAnim {
  0% {
    top: 30px;
    opacity: 0;
  }
  80% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes scrolltextAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrolltextAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hideAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes hideAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrolled {
  top: -100vh;
}

html {
  scroll-behavior: smooth;
}

.font-script {
  font-family: dancing;
}

::-moz-selection {
  color: #fff;
  background: #292929;
}

::selection {
  color: #fff;
  background: #292929;
}

.welcome-brand {
  font-family: dancing;
}

.welcome-text {
  -webkit-animation: welcomeTextAnim 1s;
          animation: welcomeTextAnim 1s;
}

.vertical-line {
  -webkit-animation: verticalLineAnim 0.5s 1.2s forwards;
          animation: verticalLineAnim 0.5s 1.2s forwards;
}

.welcome-brand {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-animation: welcomeBrandAnim 0.8s 1.7s forwards;
          animation: welcomeBrandAnim 0.8s 1.7s forwards;
}

.scroll-circle {
  -webkit-animation: scrollCircleAnim 1s infinite;
          animation: scrollCircleAnim 1s infinite;
}

.header-above {
  -webkit-animation: headerOddAnim 1.6s forwards;
          animation: headerOddAnim 1.6s forwards;
}

.header-below {
  -webkit-animation: headerEvenAnim 1.6s forwards;
          animation: headerEvenAnim 1.6s forwards;
}

.header-container .hello {
  font-family: anton;
}

.header-container .border-container {
  width: 85%;
  height: 85%;
}

.header-container .border-container:before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  border: 1px solid #292929;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  border-right: none;
  -webkit-animation: borderAnim 2s forwards;
          animation: borderAnim 2s forwards;
}

.header-container .border-container:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  border: 1px solid #292929;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: none;
  border-left: none;
  -webkit-animation: borderAnim 2s forwards;
          animation: borderAnim 2s forwards;
}

.header-container .border-container h1 {
  font-family: dancing;
}

.header-container .border-container .dashed-circle {
  -webkit-animation: spinAnim 200s infinite linear;
          animation: spinAnim 200s infinite linear;
}

.header-container .border-container main .Typewriter {
  color: #353535;
  padding-top: 30px;
}

.header-container .border-container main .scroll-text {
  -webkit-animation: scrolltextAnim 1s 3s forwards;
          animation: scrolltextAnim 1s 3s forwards;
}

.header-container nav a:before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  border: 1px solid #292929;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  border-right: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-container nav a:hover:before {
  height: 100%;
  width: 100%;
}

.header-container nav a:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  border: 1px solid #292929;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: none;
  border-left: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-container nav a:hover:after {
  height: 100%;
  width: 100%;
}

.header-container .social-media:nth-child(1) {
  -webkit-animation: socialmediaAnim 2s;
          animation: socialmediaAnim 2s;
}

.header-container .social-media:nth-child(2) {
  -webkit-animation: socialmediaAnim 2.4s;
          animation: socialmediaAnim 2.4s;
}

.header-container .social-media:nth-child(3) {
  -webkit-animation: socialmediaAnim 2.8s;
          animation: socialmediaAnim 2.8s;
}

.header-container .social-media:nth-child(4) {
  -webkit-animation: socialmediaAnim 3.2s;
          animation: socialmediaAnim 3.2s;
}

.header-container .social-media:nth-child(5) {
  -webkit-animation: socialmediaAnim 3.6s;
          animation: socialmediaAnim 3.6s;
}

.parallax.hide {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.parallax.show {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.about-text.show {
  line-height: 35px;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.about-text.hide {
  line-height: 60px;
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.about-subs.hide {
  line-height: 60px;
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.about-subs.show {
  line-height: 60px;
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.skill.hide {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
}

.skill.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project-image {
  position: relative;
}

.project-image:hover .project-img{
  transform: scale(1.03);
}
.project-mask:hover > div{
  opacity: 1;
}

.exp.show {
  max-height: 200px;
  -webkit-transition: 1s;
  transition: 1s;
}

.exp.hide {
  max-height: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-send:hover .btn-mask {
  right: 0;
  width: 100%;
}

@font-face {
  font-family: dancing;
  src: url(../../assets/fonts/DancingScript.ttf);
}

@font-face {
  font-family: anton;
  src: url(../../assets/fonts/Anton-Regular.ttf);
}

@media (min-width: 768px) {
  .Typewriter {
    font-size: 16pt;
  }
}

@media (max-width: 440px) {
  .Typewriter {
    font-size: 14pt;
  }
  .about-text.show {
    line-height: 30px;
  }
  .project-card {
    width: 315px;
  }
  .project-container {
    height: 200px;
  }
}

@media (max-width: 390px) {
  .project-card {
    width: 265px;
  }
  .project-container {
    height: 170px;
  }
}

@media (max-width: 310px) {
  .project-card {
    width: 200px;
  }
  .project-container {
    height: 120px;
  }
}

@media (min-width: 1024px) {
  .Typewriter {
    line-height: 45px;
    font-size: 19pt;
  }
}
/*# sourceMappingURL=index.css.map */